@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');
body{
    font-family: 'Inter', sans-serif;
    margin: 0%;
}
.homepage{
    height: 720px;
    background-image: url(./images/lines-g17504b2a5_1920.jpg);
    background-size: cover;
    background-attachment:scroll;
}
nav {
    display: flex;
    padding: 1% 15%;
    color: rgb(22, 22, 22);
    background-color: #d8d8d87c;
}
.companylogo{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.companylogo > span{
    color: #ca342b;
}
.navbuttons{
    display: flex;
    list-style: none;
    padding-left: 10%;
}
.navbuttons li{
    padding: 2%;
}
.navbuttons li:hover{
    transition: all 0.3s ease;
    text-decoration: underline red 3px;
    transition-timing-function: ease-in-out;
}
.maindescription{
    /* background-color: rgba(127, 255, 212, 0.329); */
    color: rgb(0, 0, 0);
    
}
.main{
    padding: 10% 10%;
    height: 400px;
    width: 35%;
}
.mainheading{
    font-size: 67px;
}
.mainheading > span{
    color: #ca342b;
}
button{
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    background-color: #ca342b;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    
}
button:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

/* second page  */

.imagewithtext{
    display: flex;
    
}
.aboutus{
    height: 400px;
    background-color: #ffffff;
    padding: 2% 11%;
}
.secondpagehead{
    width: 49%;
    margin-left: 80px;
    background-color: transparent;
    color:black;
    padding: 2% 0%;
}
.secondpagehead > .mainheading{
    font-size: 40px;

}
 /* secondpage second partition  */

.blocks{
    background-color: #f0f0f0;
    padding: 4% 0%;
}
.boxes{
    display: flex;
    justify-content: center;
}
.boxsize{
    /* height: 275px; */
    height:auto;
    width: 15%;
    background-color: white;
    margin-left: 1%;
    padding: 2% 1%;
}
.textalignedtocenter{
    text-align: center;
    height: 140px;
    width: 100%;
    background-color:transparent ;
    color: black;
}
.textalignedtocenter > .mainheading{
    color: black;
    font-size: 40px;
    
}
.boxtext{
    font-size: smaller;
    text-align: center;
    height: 140px;
    width: 100%;
    color: black;
    padding: 1% 1%;
    margin-top: 10%;
    background-color: transparent;
}
.boxtext > .mainheading{
    font-size: 20px;
}
.boxtext p{
    font-size: 12px;
}
.box .fa-solid{
    
    font-size: 25px;
    color: #ca342b;
    padding: 10%;
    border-radius: 50%;
    border: solid 3px #cfcfcf;
    margin-left: 35%;
}

/* Third page  */

.thirdpage{
    background-color: #f0f0f0;
}
.lineargradient{
    background: linear-gradient(0.25turn, #da002f, #df3232, #ff8826);
}
.thirdpagehead{
    padding: 5% 0%;
   text-align: center;
}
.thirdpagehead > .mainheading{
    color: white;
    font-size: 35px;
}
.lineargradientext{
    color: white;
}
.thirdpagehead > button{
    background-color: white;
    color: red;
}
.recentworks > img{
    width: 45%;
   margin-left: 10%;
}
.recentworkstexts{
    color: black;
    padding: 0% 5%;
}
.recentworkstexts > .mainheading{
    font-size: 35px;
}
.recentworkstexts > table{
    padding: 2% 0%;
}
.nextprojectlink{
    margin-left: 75%
}
.nextprojectlink span{
    font-size: 30px;
}
.thirdpagepartition{
    padding: 5% 0%;
    
}

/* fourthpage - Team Section */

.team{
    background-color: white;
}
.teammemberimage img{
    width: 90%;
}

/* fourthpage - Blog Section */

.fourthpage{
    background-color: #f0f0f0;
    padding: 2% 15%;
}
.blogs > img{
    height: 300px;
    width: 80%;
}
.secondblog{
    padding: 2% 0%;
}
.secondblog > img{
    height: 320px;
    width: 80%;
}
.blogstexts{
    padding: 3% 5%;
    color: black;
    background-color: white;
    text-align: center;
}
.blogstexts > .mainheading{
    font-size: 25px;
}

/* footer  */

.footer{
    background-color: #222222;
    display: flex;
    padding: 5% 5%;
    justify-content: space-around;
    color: #cbcaca;
}
.footerlogo{
    margin-left: 0%;
    color: #cbcaca;
}
.footertext{
    color: #cbcaca;
}
.footertable tr{
    width: 50%;
}
input{
    padding: 10px;
    border-radius: 25px;
    width: 60%;
    border:none;
    font-family: 'Lato', sans-serif;
}
.footerbutton{
    font-weight: bolder;
    width: 20%;
    padding: 10px;
    background-color: #cb342b;
}
.footerbutton:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.9) 0px 0px 0px 1px;
}
.footer form{
    margin-top: 20%;
}
.footertable td{
    padding: 1%;
}
.footertable td:hover{
    color: white;
}
.socialmedia{
    color: #cbcaca;
    display: flex;
    background-color: #1b1b1b;
    
}
.socialmediaicons{
    margin-left: 15%;
    padding: 1% 5%;
}
.fa-brands:hover{
    color: #da002f;
}

.copyright{
    padding: 1% 5%;
    margin-left: 25%;
}