@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
.homepage{
    height: 750px;
    background-image: url(./images/Best-Glow-in-the-Dark-Paint-for-Skin.jpg);
    background-size: cover;
    background-attachment:scroll;
}
nav{
    display: flex;
    padding: 20px;
    color: aliceblue;
}
.navheading{
    font-weight: bold;
    font-size: 25px;
    margin-left: 300px;
}
.navheading > span{
    color: red;
}
.navbuttons{
    display: flex;
    list-style: none;
    margin-left: 150px;
    margin-top: 5px;
}
.navbuttons li{
    margin-left: 30px;
}
.navbuttons li:hover{
    transition: all 0.3s ease;
    text-decoration: underline red 3px;
    transition-timing-function: ease-in-out;
}
.maindescription{
    background-color: rgba(127, 255, 212, 0.329);
    color: white;
}
.main{
    height: 400px;
    width: 35%;
}
.mainheading{
    font-size: 67px;
}
.mainheading > span{
    color: red;
}
.maindescription button{
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    background-color: red;
    border: red;
    color: white;
    font-family: 'Lato', sans-serif;

}

/* second page  */

.secondpage{
    height: 900px;
}
.imagewithtext{
    display: flex;
    
}
.aboutus{
    height: 400px;
    background-color: #ffffff;
    padding: 2% 11%;
}
.secondpagehead{
    width: 49%;
    margin-left: 80px;
    background-color: transparent;
    color:black;
    padding: 2% 0%;
}
.secondpagehead > .mainheading{
    font-size: 45px;

}
 /* secondpage second partition  */

.blocks{
    height: 400px;
    background-color: #f0f0f0;
    padding: 2% 0%;
}
.boxes{
    padding: 0% 15%;
}
.boxsize{
    height: 250px;
    width: 210px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: none;
    margin-left: 10px;
}
.textalignedtocenter{
    text-align: center;
    height: 140px;
    width: 100%;
    background-color:transparent ;
    color: black;
}
.textalignedtocenter > .mainheading{
    color: black;
    font-size: 40px;
    
}
.boxtext{
    font-size: smaller;
    text-align: center;
    height: 140px;
    width: 100%;
    color: black;
    margin-top: 37%;
    background-color: transparent;
}
.boxtext > .mainheading{
    font-size: 20px;
}
.boxtext p{
    font-size: 12px;
}
.box{
    font-size: 25px;
    color: red;
    display: inline ;
    text-align: center;
}

/* Third page  */

.thirdpage{
    height: 942px;
    background-color: #f0f0f0;
}
.lineargradient{
    
    height: 405px;
    background: linear-gradient(0.25turn, #da002f, #df3232, #ff8826);
}
.thirdpagehead{
    padding: 10% 0%;
   text-align: center;
}
.thirdpagehead > .mainheading{
    font-size: 35px;
}
.thirdpagehead > button{
    background-color: white;
    color: red;
}
.recentworks > img{
    width: 45%;
   margin-left: 10%;
}
.recentworkstexts{
    color: black;
    padding: 0% 5%;
}
.recentworkstexts > .mainheading{
    font-size: 40px;
}
.recentworkstexts > table{
    padding: 2% 0%;
}
.nextprojectlink{
    margin-left: 75%
}
.nextprojectlink span{
    font-size: 30px;
}
.thirdpagepartition{
    padding: 2% 0%;
}

/* fourthpage  */

.team{
    background-color: white;
}
.blogs > img{
    width: 45%;
   margin-left: 10%;
}
.secondblog{
    padding: 2% 0%;
}
.secondblog > img{
    width: 45%;
   margin-right: 10%;
}